* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 1rem/1.6 Georgia, 'Microsoft YaHei',Arial,sans-serif;
    color: #2c3e50;
    word-wrap: break-word;
    counter-reset: li;
}

a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

a:hover,.current-menu-item a {
    text-decoration: underline;
}

.menu-item a {
    color: #f90;
}

.tag-cloud-link, .xoxo li, .cat-item, .wp-block-archives-list li {
    display: inline-block;
    padding: .25rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem
}

h5 {
    font-size: .875rem
}

h6 {
    font-size: .75rem
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
    line-height: 1.4;
    border-left: .25rem solid #f90;
    padding-left: .25rem;
}

.page-template-page_index h1 {
    display: none
}

pre {
    padding: 1rem;
    border-radius: .25rem;
    background-color: #333;
    color: #f1f1f1;
    line-height: 1.4;
    max-height: 30rem;
    overflow: auto;
    margin: 1rem 0;
}

option {
    background-color: #f1f1f1;
}

img {
    max-width: 100%;
    height: auto;
}

.wp-block-latest-posts.wp-block-latest-posts__list li a:before {
    content: counter(li)"、";
    counter-increment: li;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    color: #f90;
}

li.post {
    font-size: 1.5rem;
    list-style: none;
}

#entry li {
    margin-left: 2rem;
}

code {
    color: #cf2e2e;
}

input, select, button, #comment {
    outline-style: none;
    border: 1px solid #f90;
    background-color: #f1f1f1;
    border-radius: .5rem;
    padding: .5rem;
    margin: .25rem 0;
}

input, select, button {
    height: 2.5rem;
    vertical-align: middle;
}

select {
    width: 100%;
}

button, #submit {
    cursor: pointer;
    color: #f90;
}

table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

thead {
    padding: .3125rem .625rem;
    background-color: #6c7781;
    color: #f1f1f1;
}

tr:nth-child(even) {
    background: #f1f1f1;
}

td,th {
    padding: .3125rem;
    border: .0625rem solid #abb8c3;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

td,th {
    padding: .3125rem;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 32px rgb(255,255,255) inset;
}

.menu-item {
    display: inline-block;
    padding: .25rem;
    margin: .25rem;
    border-radius: .5rem;
    background-color: #333;
}

#masthead {
    padding: 2rem;
    color: #f90;
    position: fixed;
    float: left;
    width: 30%;
    height: 100%;
    background-color: #2F4056;
    background-image: url(https://pdbn.top/bing-img/bing-img.php);
    background-size: cover;
    letter-spacing: 2px;
}

.header-warp {
    width: 100%;
    writing-mode: tb-rl;
    position: absolute;
    right: -3.2rem;
    z-index: 111;
}

.post-meta, .post-meta a, .commentmetadata-content, .wp-block-image figcaption,.site-footer {
    font-size: .875rem;
}

.post-meta {
    margin: .5rem 0 2rem 0;
}

.updated {
    display: none;
}

.cat-links, .tags, .posted-on {
    margin-right: .5rem;
}

.site-title {
    font-size: 2rem;
    margin: .25rem;
    padding: .25rem;
    line-height: 1.4;
    font-weight: 600;
    display: inline-block;
}

.site-description, .taxonomy-description {
    font-style: italic;
    font-size: .875rem;
    padding: .25rem;
}

#main {
    float: right;
    width: 70%;
}

.site-footer {
    float: right;
}

#main, .site-footer {
    padding: 2rem 10rem;
}

.widget-title-archive {
    display: inline-block;
    margin-right: .5rem
}

#entry p, #entry img {
    margin: 1rem 0;
    text-indent: 2rem;
    line-height: 2;
}

#entry img {
    border: .0625rem solid #ddd;
}

.wp-block-image figcaption {
    margin-top: -1rem;
    color: #6c7781;
}

.wp-block-image figcaption:after {
    content: "▲"
}

blockquote {
    font-style: italic;
}

.nav-previous:before {
    content: "上一篇：";
}

.nav-next:before {
    content: "下一篇：";
}

#comment {
    width: 100%;
}

.comment-form-author label, .comment-form-email label, .comment-form-url label {
    width: 6rem;
    display: inline-block;
    text-align-last: justify;
}

.required {
    color: red;
}

#commentlist li {
    padding: 1rem;
    margin-bottom: 1rem;
    border: .0625rem solid #abb8c3;
    background-color: #f1f1f1;
    border-radius: .5rem;
    list-style: none;
}

.admin_author {
    font-size: .75rem;
    padding: .125rem .25rem;
    border-radius: 1rem;
    border: 1px solid #20a0c3;
}

.gravatar img {
    border-radius: 50%;
}

.gravatar {
    display: flex;
    align-items: center;
}

.clearfix {
    margin-left: .625rem;
}

.comment_content {
    margin-left: 58px;
}

.children li {
    margin-left: 4rem;
}

.page-numbers {
    margin: 0.5rem;
}

.site-footer img {
    vertical-align: middle;
}

#codeinp {
    width: 100%;
    height: 10rem;
}

#backtoTop {
    bottom: 10%;
    position: fixed;
    right: -100px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

#backtoTop.button--show {
    right: 10px
}

.per {
    font-size: 1rem;
    height: 48px;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 48px;
    cursor: pointer;
}

.per:before {
    content: attr(data-percent)
}

.per:hover:before {
    content: "↑";
    font-size: 20px
}

.nav-links {
    margin: 1rem 0;
    text-align: right;
}

.screen-reader-text,.wp-block-search__label {
    display: none;
}

.wp-block-search .wp-block-search__input {
    max-width: none;
}

.wp-block-latest-posts.wp-block-latest-posts__list li:hover {
    background-color: oldlace;
}

.wp-block-latest-posts__list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem 0;
}

::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #f90;
    border-radius: .25rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #FFB800;
}

::selection {
    background-color: #2f4056;
    color: #FFB800;
}

@media screen and (max-width: 65rem) {
    #main, .site-footer {
        padding: 2rem;
    }

    .header-warp {
        right: 0;
    }

    .site-title {
        background-color: #f90;
    }
}

@media screen and (max-width: 47rem) {
    #masthead, #main {
        float: unset;
        width: 100%;
        position: relative;
    }

    .header-warp {
        writing-mode: lr-tb;
        position: relative;
    }

    #masthead, #main, .site-footer {
        padding: .5rem;
    }
}
